.DS_Store
/.idea/modules.xml
/TD_Application/TD/CarPool/
/Pylon/SingleCamera/.project
/Pylon/SingleCamera/.cproject
/.idea/TailDetector.iml
/.idea/aws.xml
/.idea/inspectionProfiles
/.idea/misc.xml
/.idea/vcs.xml
/.idea/.gitignore
TD_Application/TD.xcodeproj/project.xcworkspace/xcuserdata/wolfovich.xcuserdatad/UserInterfaceState.xcuserstate
