[Unit]
Description=Start usb_listener.py
After=multi-user.target
Conflicts=

StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
WorkingDirectory=/home/jetty/TailDetector/Mediation
Type=simple
ExecStart=/usr/bin/python3 usb_listener.py
StandardInput=tty-force
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
