<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TD.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A64E3CD725BE236000641AE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A67DDDC225E3F29800AD99FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A67DDDD225E3F46500AD99FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
